*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, black,rgb(255, 156, 173), black);
}
#relogio-container{
    display: flex;
    box-shadow: 0 3px 5px ;
    padding: 50px 80px;
    border-radius: 5px;
    width: 460px;
    height: 200px;
    justify-content: center;
    align-items: center;
}
#relogio-container div{
    background-color: black;
    padding: 40px;
    margin: 0px 5px;
    color: white;
    border-radius: 5px;
}
.top {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tempo{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    padding-left: 3px;
}
footer{
    background-color: black;
    color: white;
    height: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 480px){
    #relogio-container{
        width: 140px;
        height: 50px;
    }
    #relogio-container div{
        padding: 25px;
    }
    #horasS{
        width: 25px;
    }
    #segundosS{
        width: 25px;
    }
    #minutosS{
        width: 25px;
    }
    .top{
        font-size: 20px;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    #relogio-container{
        width: 250px;
        height: 100px;
    }
    #relogio-container div{
        padding: 30px;
    }
    #segundosS{
        width: 40px;
    }
    #minutosS{
        width: 40px;
    }
    .top{
        font-size: 30px;
    }
}
@media (min-width: 1024px) and (max-width: 1280px){

}
@media (min-width: 1281px) and (max-width: 1919px){

}
@media (min-width: 1920px){

}

